body {
	background-color: #2e3440
}

div.main-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

text.coordinate-dark {
	fill: #5e81ac;
        font-family: Arial Black,sans-serif;
}

text.coordinate-light {
	fill: #d8dee9;
        font-family: Arial Black,sans-serif;
}

rect.square-dark {
	fill: #5e81ac;
}

rect.square-light {
	fill: #d8dee9;
}

rect.original-square {
	fill: #ebcb8b;
}

rect.default-highlight {
	fill: #bf616a;
}

rect.highlight-1 {
	fill: #a3be8c;
}

rect.highlight-2 {
	fill: #b48ead;
}

rect.highlight-3 {
	fill: #d08770;
}

polygon.arrow {
	fill: #ebcb8bcd;
}

circle.move-hint {
    fill: #4c566a80;
}
